<h2 [innerHtml]="titulo"></h2>
<button routerLink="/paquetes/crear" type="button">Crear Paqute</button>
<form >
    <label>Buscar</label>
    <input type="text" name="buscar" [(ngModel)]="elementoBusqueda">
    <button (click)="busccarElementos()">Aceptar</button>
</form>
<img [src]="imagen_url" alt="IMAGEN NO ENCONTRADA" height="100px">
<!--                                            [input]             (output)-->
<app-paquete-item *ngFor="let lugar of lugares" [paquete]="lugar"   (onover)="myMetodo($event)"></app-paquete-item>
